@charset "utf-8";
/* CSS Layout Style ---------------------------------------------------------- */

/* search
----------------------------------------------*/
#searchArea {
	background:url(../img/user/bg_search.jpg) no-repeat;
	width:960px;
	height:50px;
	margin-top:20px;
	margin-bottom:20px;
}
#searchArea p {
	padding:15px 20px;
}
#searchArea p ._input {
	width:300px;
	margin-right:10px;
}


/* fileTable
----------------------------------------------*/
.fileTable {
	border-left:1px solid #CCC;
	border-top:1px solid #CCC;
	width:710px;
	margin:10px 0;
	margin-top:-6px;
	clear:left;
}
.fileTable th {
	background-color:#3C6937;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	border-top:1px solid #CCC;
	padding:3px 3px 3px 7px;
	color:#FFF;
	font-weight:bold;
	text-align:left;
}
.fileTable th.thDownload {width:70px;}
.fileTable th.thFile {width:150px;}
.fileTable th.thType {width:40px;}
.fileTable th.thSize {width:60px;}
.fileTable th.thStatus {width:50px;}
.fileTable th.thDelete {width:30px;}

.fileTable td {
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	padding:10px 5px;
	text-align:left;
	vertical-align:middle;
}
.fileTable .odd td {
	background-color:#FFF;
}
.fileTable .even td {
	background-color:#F5F5F5;
}
/* tab
----------------------------------------------*/
#tab {
	width:710px;
	height:30px;
}
#tab li {
	float:left;
	width:150px;
	height:30px;
	margin-right:2px;
}
#tab li a {
	display:block;
	width:150px;
	height:30px;
	color:#FFF;
	text-decoration:none;
	cursor:pointer;
}
#tab li a span {
	display:block;
	padding-top:8px;
	font-weight:bold;
	text-align:center;
}
#tab li a {
	background:url(../img/user/bg_tab.gif) no-repeat;
}
#tab a:hover,
#tab li.present a {
	background:url(../img/user/bg_tab_on.gif) no-repeat;
}
#tab #file_up{
	background:#fff;
	margin-left:280px;
	width:90px;
}